In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import geopandas as gpd

ModuleNotFoundError: No module named 'plotly'

In [6]:
df = pd.read_csv('covid_impact_on_airport_traffic.csv' ,engine='python')

In [7]:
df.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-07-05,1.0,Kingsford Smith,52,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-05-28,1.0,Kingsford Smith,61,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2,Daily,2020-05-07,1.0,Kingsford Smith,62,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
3,Daily,2020-06-24,1.0,Kingsford Smith,58,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
4,Daily,2020-08-05,1.0,Kingsford Smith,20,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5936 entries, 0 to 5935
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AggregationMethod  5936 non-null   object
 1   Date               5936 non-null   object
 2   Version            5936 non-null   float64
 3   AirportName        5936 non-null   object
 4   PercentOfBaseline  5936 non-null   int64
 5   Centroid           5936 non-null   object
 6   City               5936 non-null   object
 7   State              5936 non-null   object
 8   ISO_3166_2         5936 non-null   object
 9   Country            5936 non-null   object
 10  Geography          5936 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 510.2+ KB

In [9]:
df.describe()

       Version  PercentOfBaseline
count   5936.0        5936.000000
mean       1.0          65.581705
std        0.0          21.985070
min        1.0           0.000000
25%        1.0          52.000000
50%        1.0          66.000000
75%        1.0          82.000000
max        1.0         100.000000

In [23]:
print('Maximum Impact: ', df['PercentOfBaseline'].min() , '%')
print('Minimum Impact: ', df['PercentOfBaseline'].max() , '%')

Maximum Impact:  0 %
Minimum Impact:  100 %