# Covis-19 Impact on Airport Traffic

# Kaggle's Dataset

---------------------------------------------------------------------
### installing libs

In [20]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\gabriel\appdata\local\programs\python\python38-32\lib\site-packages (4.14.1)
Requirement already satisfied: six in c:\users\gabriel\appdata\local\programs\python\python38-32\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\gabriel\appdata\local\programs\python\python38-32\lib\site-packages (from plotly) (1.3.3)
WARNING: You are using pip version 20.2.4; however, version 20.3.1 is available.
You should consider upgrading via the 'c:\users\gabriel\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

ModuleNotFoundError: No module named 'pandas'

In [3]:
df = pd.read_csv('covid_impact_on_airport_traffic.csv' ,engine='python')

In [4]:
df.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-07-05,1.0,Kingsford Smith,52,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-05-28,1.0,Kingsford Smith,61,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2,Daily,2020-05-07,1.0,Kingsford Smith,62,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
3,Daily,2020-06-24,1.0,Kingsford Smith,58,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
4,Daily,2020-08-05,1.0,Kingsford Smith,20,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5936 entries, 0 to 5935
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AggregationMethod  5936 non-null   object
 1   Date               5936 non-null   object
 2   Version            5936 non-null   float64
 3   AirportName        5936 non-null   object
 4   PercentOfBaseline  5936 non-null   int64
 5   Centroid           5936 non-null   object
 6   City               5936 non-null   object
 7   State              5936 non-null   object
 8   ISO_3166_2         5936 non-null   object
 9   Country            5936 non-null   object
 10  Geography          5936 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 301.5+ KB

In [6]:
df.describe()

       Version  PercentOfBaseline
count   5936.0        5936.000000
mean       1.0          65.581705
std        0.0          21.985070
min        1.0           0.000000
25%        1.0          52.000000
50%        1.0          66.000000
75%        1.0          82.000000
max        1.0         100.000000

In [7]:
print('Maximum Impact: ', df['PercentOfBaseline'].min() , '%')
print('Mean Impact: ', round(df['PercentOfBaseline'].mean()) , '%')
print('Minimum Impact: ', df['PercentOfBaseline'].max() , '%')

Maximum Impact:  0 %
Mean Impact:  66 %
Minimum Impact:  100 %

In [8]:
print(df['City'].unique())
print('Unique Cities: ',len(df['City'].unique()))

['Sydney' 'Santiago' 'Calgary' 'Leduc County' 'Richmond' 'Winnipeg'
 'Halifax' 'Mississauga' 'Hamilton' 'Mirabel' 'Dorval' 'Los Angeles'
 'South San Francisco' 'Denver' 'Miami Springs' 'College Park'
 'Urban Honolulu' 'Chicago' 'Boston' 'Romulus' 'Charlotte' 'Newark'
 'Paradise' 'New York' 'Grapevine' 'Floris' 'SeaTac']
Unique Cities:  27

In [9]:
print(df['AirportName'].unique())
print('Unique Airports: ',len(df['AirportName'].unique()))

['Kingsford Smith' 'Santiago International Airport'
 'Calgary International' 'Edmonton International'
 'Vancouver International' 'Winnipeg International'
 'Halifax International' 'Toronto Pearson' 'Hamilton International'
 'Montreal Mirabel' 'Montreal Trudeau' 'Los Angeles International'
 'San Francisco International' 'Denver International'
 'Miami International ' 'Hartsfield-Jackson Atlanta International '
 'Daniel K. Inouye International ' 'Chicago OHare International'
 'Boston Logan International ' 'Detroit Metropolitan Wayne County '
 'Charlotte Douglas International' 'Newark Liberty International '
 'McCarran International' 'LaGuardia' 'John F. Kennedy International'
 'Dallas/Fort Worth International ' 'Washington Dulles International '
 'Seattle-Tacoma International ']
Unique Airports:  28

In [10]:
print(df['State'].unique())
print('Unique States: ',len(df['State'].unique()))

['New South Wales' 'Santiago Province' 'Alberta' 'British Columbia'
 'Manitoba' 'Nova Scotia' 'Ontario' 'Quebec' 'California' 'Colorado'
 'Florida' 'Georgia' 'Hawaii' 'Illinois' 'Massachusetts' 'Michigan'
 'North Carolina' 'New Jersey' 'Nevada' 'New York' 'Texas' 'Virginia'
 'Washington']
Unique States:  23

In [11]:
print(df['Country'].unique())
print('Unique Countries: ',len(df['Country'].unique()))

['Australia' 'Chile' 'Canada' 'United States of America (the)']
Unique Countries:  4

In [20]:
df['lat'] = df['Centroid'].apply(lambda x: x[6: x.find(" ")] )
df['lon'] = df['Centroid'].apply(lambda x: x[x.find(" ") : x.find(")")] )

In [1]:
fig = px.scatter_geo(df,
                    lat = 'lon',
                    lon = 'lat',
                    hover_name = 'AirportName',
                    color = 'PercentOfBaseline',
                    title = 'Covid-19 Impact on Airports Traffic',      
                    projection = 'hammer')
fig.show()

NameError: name 'px' is not defined